DVC_REMOTE_NAME=gdrive_remote
DVC_REMOTE_URL=gdrive://1XME9ChaGD2nsr38NhLzoZte2zD8MhLs6
GDRIVE_CLIENT_ID={credenciales_propias}
GDRIVE_CLIENT_SECRET={secreto_propio}

# --- MLflow: Configuración de Tracking ---
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=salary-classification

# --- Configuración General ---
PYTHONPATH=/app
PYTHONUNBUFFERED=1
RAW_DATA_PATH=data/raw/salary.csv